body{
    background-color: black;
    overflow-y:auto;
}
.text{
    margin: 50px 0px;
}

.box-part1{
    background-color: white;
    padding: 50px 10px;
    margin: 30px 10px;
}
.box-part2{
    background-color: white;
    padding: 150px 10px;
    margin-top: 40px;
    text-align: center;
    align-content: center;
}
img{
    width: 320px;
    height: 400px
}
.box-part3{
    background-color: white;
    margin-bottom: 130px;
}

.box-part4{
    width: 100%;
    padding: 10px 10px;
    margin: 200px 0px;
    align-items: center;
    color: white;
}

.box-part6{
    width: 100%;
    padding: 10px 10px;
    margin: 80px 0px;
    align-items: center;
    color: white;
}

.box-part7{
    width: 270px;
    height: 150px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin: 50px 0px;
}

.box-part8{
    width: 100%;
    padding: 10px 10px;
    margin: 50px 0px;
    align-items: center;
}
.box-part9{
    width: 100%;
    padding: 10px 10px;
    margin: 50px 0px;
    align-items: center;
    text-align: left;
}
.box-part10{
    color: white;
/*     margin: 60px 0px; */
    text-align:start;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #b9b9b9;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  .box-3{
    background-color: white;
  }
  .box-5{
    background-color: white;
  }
  .box-6{
    background-color: white;
  }
  .btn-dark{
    background-color: black;
}
.box-8{
    background-color: white;
    padding-top: 60px;
    padding-bottom: 30px;
}
.border-right {
    border-right: 1px solid grey;
}
.ft_text-1{
color: grey;
}
.ft_text-2{
    color: dodgerblue;
}
.box-7{
    margin: 50px 0px;
}
.link-text-1{
    color: black;
}
.link-text-3{
    color: white;
}
.btn-warning{
    background-color: orangered;
    border-color: orangered;
}
.btn-secondary{
    background-color: lightgray;
    border-color: lightgray;
}
.fa-wikipedia-w{
    color: grey;
    padding-right: 10px;
}
.fa-youtube-play{
    padding-right: 10px;
}
.fa-amazon{
    padding-right: 10px;
}